.calculator {
    &__container {
        background: red;
        width: 250px;
        margin: 0 auto;
        padding: 20px;
    }
    &__result {
        border: 1px blue solid;
    }
    &__table {
        tr {
            td {
                // border: 1px solid black !important;
                text-align: center !important;
                padding: 5px;
                button {
                    display: inline-block;
                    padding: 0px !important;
                    &.single {
                        width: 40px !important;
                        height: 40px !important;
                    }
                    &.double__row {
                        width: 40px !important;
                        height: 90px !important;
                    }
                    &.double__col {
                        width: 95px !important;
                        height: 40px !important;
                    }
                }
            }
        }
    }
    .history {
        &__container {
            background: red;
            width: 230px;
            margin: 0 auto;
        }
    } // @font-face {
    //     font-family: 'Source Sans Pro';
    //     src: url('../font/SourceSansPro-ExtraLight.woff') format('woff');
    //     font-weight: 400;
    //     font-style: normal;
    // }
    body {
        background-color: #000;
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
    }
    div {
        padding: 0;
        margin: 0;
    }
    #main {
        width: 100%;
    } // #keypad {
    //     position: relative;
    //     bottom: 0;
    //     width: 363px;
    //     margin: 15px 4px 4px 4px;
    // }
    #keypad>div {
        height: 75px;
        font-size: 28px;
        width: 100%;
        overflow: hidden; // border-bottom: 1px solid black;
    }
    #keypad>div.display>input {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 50pt;
        height: 75px;
        width: 98%;
        text-align: right;
        background-color: #000;
        color: #fff;
        border: none;
        padding: 0;
        transition: none !important;
    }
    #keypad>div>div {
        padding-top: 15px; // border-right: 1px solid black;
        width: 24.5%;
        text-align: center;
        background-color: #000;
        color: #FFF;
        display: inline-block;
        height: 100%;
        float: left;
    }
    #keypad>div.horizontal.display {
        border: none; // margin-bottom: 20px;
    }
    #keypad>div>div.double-wide {
        width: 49.1%;
    }
    #keypad {
        position: relative;
        bottom: 0;
        width: 363px;
        margin: 15px 4px 4px 4px;
        .horizontal.display {
            height: 112px;
            font-size: 0px;
            height: 100px;
        }
        .key {
            cursor: pointer;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none; // key press
            &:active {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
        &>div>div.operation-key {
            background-color: #000;
            color: #FFF; // operation-key keyEquals
            &.keyEquals {
                background-color: red !important;
            }
        }
        .displayPanel {
            margin-bottom: 0px !important; // displayPanel__sub
            &__sub {
                height: 20px !important;
                font-size: 8pt !important;
                border-bottom: 1px solid grey !important;
                padding-bottom: 4px !important;
            }
        }
    }
    .num-key {
        background-color: #CFD0D2;
    }
    #keypad>div>div.control-key {
        background-color: #000;
        color: #FFF;
    }
}
