.calculator {
    &__container {
        background: red;
        width: 250px;
        margin: 0 auto;
        padding: 20px;
    }
    &__result {
        border: 1px blue solid;
    }
    &__table {
        tr {
            td {
                // border: 1px solid black !important;
                text-align: center !important;
                padding: 5px;
                button {
                    display: inline-block;
                    padding: 0px !important;
                    &.single {
                        width: 40px !important;
                        height: 40px !important;
                    }
                    &.double__row {
                        width: 40px !important;
                        height: 90px !important;
                    }
                    &.double__col {
                        width: 95px !important;
                        height: 40px !important;
                    }
                }
            }
        }
    }
    .history {
        &__container {
            background: red;
            width: 230px;
            margin: 0 auto;
        }
    }
}
