.calculator {
    &__container {
        background: red;
        width: 230px;
        margin: 0 auto;
    }
    &__result {
      border: 1px blue solid;
    }
    &__table {
        tr {
            td {
                border: 1px solid black !important;
                text-align: center !important;
                padding: 10px;
                button {
                    display: inline-block;
                    padding: 0px !important;
                    &.single {
                        width: 35px !important;
                        height: 35px !important;
                    }
                    &.double__row {
                        width: 40px !important;
                        height: 90px !important;
                    }
                    &.double__col {
                        width: 90px !important;
                        height: 35px !important;
                    }
                }
            }
        }
    }
}
